.main_menu {
  width: 100%;
  height: 80px;
  position: sticky;
  background: rgb(9, 9, 39);
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 1px solid rgb(16, 16, 68);

  .menu_nav {
    display: flex;
    height: 100%;
    padding: 0 2%;
    align-items: center;
    a {
      color: white;
      text-decoration: none;
      font-size: 18px;
    }
  }
  .menu_logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    img {
      width: 150px;
    }
  }
  .menu_logo {
    margin-left: 1%;
  }
  .menu_item a {
    color: white;
    text-decoration: none;
  }
  .menu_item ul {
    list-style: none;
    display: flex;
    justify-content: center;
    li {
      padding: 0 20px;
    }
    button {
      align-items: center;
      background-color: #555555;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  }
  .menu_item a:hover,
  .menu_item a:active,
  .menu_item a:focus {
    color: black;
  }
  .spacer {
    flex: 1;
  }
}
@media only screen and (max-width: 769px) {
  .menu_item {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  .sidebar_drawer {
    display: none;
  }
  .menu_logo {
    margin-left: 0;
  }
}
// Sidedrawer scss

.menu_button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  width: 36px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}
.menu_button:focus {
  outline: none;
}
.menu_button_item {
  width: 52px;
  height: 3px;
  background: white;
}

// drawer scss
.drawer-side {
  height: 100%;
  width: 60%;
  background: rgba(16, 16, 66, 0.89);
  box-shadow: 2px 0px 5px black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    li {
      margin: 12px 0;
    }
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    &:focus,
    &:active {
      color: black;
    }
  }
  @media only screen and (min-width: 769px) {
    .drawer-side {
      display: none;
    }
  }
}
.drawer-side.open {
  transform: translateX(0);
}
// BackDrop scss
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}
